.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--card-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* --- Logo --- */
.logo {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.logo h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #3366ff;
  margin: 0;
}

.heading {
  font-size: 0.8rem;
  color: #6b7280;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.themeToggle {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.themeToggle:hover {
  background-color: var(--hover-bg);
}

/* --- Breadcrumbs ---- */
.breadcrumb {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 10px;
}

.breadcrumbitem {
  margin-right: 8px;
  border-radius: 50px;
  padding: 0px 10px;
}

.breadcrumbitem a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color);
}

.breadcrumbitem a:hover{
  color: #4768d6;
}


.breadcrumbitem:last-child {
  font-weight: 700; 
}

.breadcrumbitem:last-child a {
  pointer-events: none;
}

.breadcrumbitem:not(:last-child)::after {
  content: " > ";
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  margin-left: 5px;
}