.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.503);
  /* white overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popover {
  background: var(--card-bg);
  color: #334EAC;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  position: relative;
  text-align: center;
}

.inputbox input {
  width: 35px;
  height: 35px;
  margin: 8px 3px;
  outline: none;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  text-align: center;
  color: #334EAC;
  background: transparent;
}

.inputbox {
  margin-top: 30px;
  margin-bottom: 30px;
}

.resend {
  background: none;
  border: none;
  color: red !important;
  text-decoration: underline;
  cursor: pointer;
}

.resend:hover {
  color: white;
}

.verify {
  background: none;
  border: 2px solid #334EAC;
  color: #334EAC;
  border-radius: 50px;
  margin: 20px 0;
  height: 40px;
  width: 120px;
  transition: .5 ease-in-out;
}

.verify:focus {
  outline: none;
}

.verify:hover {
  background: #334EAC;
  color: white;
}

/* Id card */
.idCard {
  width: 400px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.photoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 8px;
}

.regNo {
  font-weight: 600;
  color: #444;
  font-size: 14px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #334EAC;
}

p {
  margin: 4px 0;
}

.detailsSection {
  margin-top: 12px;
}

.confirmBtn {
  margin-top: 16px;
  border: 2px solid #334EAC;
  background: white;
  color: #334EAC;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: #334EAC;
  color: white;
}

.confirmBtn:focus {
  outline: none;
}